.mw-icon-users-stan {
    max-width: 16% !important;
}

.mw-icon-dash {
    max-width: 96% !important;
}

.mw-icon-aproba {
    max-width: 14% !important;
}

.mw-icon-post {
    max-width: 10% !important;
}

.mw-icon-comenta {
    max-width: 4% !important;
}