.color-footer {
  background-color: #30373e;
}

.text-color {
  color: #9BA1A7;
}

.text-font-size {
  font-size: 16px;
}

.list-group {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center !important;
}

@media (max-width: 650px) {
  .list-group {
    flex-direction: column !important;
  }
  
}