.text-color-header {
    color: #23282D;
    font-weight: 5px;
    font-size: 15.4px;
 }
 
.border-nav-color {
   border-bottom: 2px solid #006186;
}

.color-icon-l {
color: #006186 !important;
}


.align-items {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-item {
   border-bottom: 2px solid transparent;
   /* transition: all 1s; */
}

.nav-item:hover {
   border-bottom: 2px solid #006186;
   transition: ease-out 2s;
}